@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <table width="100%" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Personagem</th>
            <th>Descrição</th>
            <th>Idade</th>
        </tr>
    </thead>
    <tbody>

        @{

            for (int i = 0; i < ViewBag.pId.Count; i++)
            {
                <tr class=".itemTecnico">
                    <td> @ViewBag.pId[i] </td>
                    <td> @ViewBag.pNome[i] </td>
                    <td> @ViewBag.pDesc[i] </td>
                    <td> @ViewBag.pIdade[i] </td>
                </tr>

            }
        }

    </tbody>
</table>

</div>
